
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

.intro
{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin: 200px 0px 200px 0px;
}

.content{
    z-index: 1;
    background: transparent;
    
}

.intro h3{
    font-size: 1vw;
    margin-top: 60px;
    width: 70%;
    
}

.intro h1{
    text-align: left;
    font-size: 4vw;
   
}

.nave{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(59,46,124);
    z-index: 2 ;
    transition: 0.4s;

}

.logo{
    transition: 0.4s;
}

/* Sidebar menu */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(59,46,124);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    margin-top: 30px;
    padding: 5px 8px 8px 32px;
    text-decoration: none;
    font-size: 1vw;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color:rgb(0, 123, 137);
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: -2%;
    right: 0%;
    font-size: 40px;
    margin-left: 50px;
    color: #fff;
  }
  
  .openbtn {
    font-size: 1.5vw;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(59,46,124);
    padding: 10px 15px;
    border: none;
    color: rgb(206, 0, 79);
  }
  
  .openbtn:hover {
    background-color: rgb(27, 15, 85);
  }
  

.stats{
    z-index: 1;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 2vw;

}

.heading{
    text-align: center;
    justify-content: center;
}

.data{
    text-align: center;
}

.data-row{
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    object-fit: contain;
    overflow-x: scroll;

}

.data-row h2{
    color: rgb(21, 141, 150);
    font-size: 2.5vw;
    font-weight: 600;
}

h2 span{
    font-size: 1vw;
}

.data-row::-webkit-scrollbar{
    display: none;
}

.swipe{
    display: none;
}


/* Section Display begins here*/

.display{
    width: 90%;
    justify-self: center;
    align-self: center;
    position: relative;

}

.holder{
    display: flex;
    align-items: center;


}

.poster div{
    display: flex;
}

.profile, .cutouts{
   flex-direction: column;
}

.profile img, .content img, .poster img{
    width: 100%;
}

.profile a{
    object-fit: cover;
}

.list{
    background-color: rgb(234, 234, 234);
    height: 100vh;
    overflow-y: scroll;
}

.list::-webkit-scrollbar{
    display: none;
}

.dc{
    margin-left: 50px;
}

.swipe-more{
    position: absolute;
    left: -15%;
    bottom: 70%;
    transform: rotate(-90deg);
}

.student-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.student-profile h1{
    font-size: 3vw;
    font-weight: 600;
}

.student-profile h3{
    font-size: 2vw;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.links a {
    font-size: 1.5vw;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  .links a:hover {
    color: #fff;
    box-shadow: inset 500px 0 0 0 #54b3d6;;
  }

  .ext-link{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .ext-link a{
      color: black;
      text-decoration: none;
      border-style: solid;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-width: 2px;
      border-radius: 50px;
      padding: 10px 20px 10px 20px;
      margin: 4px;
      font-weight: 500;
      font-size: 15px;
      transition: background-color 0.5 ease-in-out, color .5 ease-in-out;
  }

  .ext-link a img{
      width: 20%;
  }

  .ext-link a:hover{
    color: white;
    background-color: black;
}


  