body{
    overflow: scroll;
}


.holder{
    display: flex;
    position: relative;
    height: auto;
}


.list{
    overflow: hidden;
    height: auto;
}

.content-tab{
   visibility: hidden;
    position: absolute;
    background-color: white;
    height: 100vh;
}

.student-profile h1, .student-profile h2, .student-profile h3, .student-profile p{
    display: none;
}

.back-button{
    display: block;
    color: white;
    font-size: 3vw;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.sidebar a{
    font-size: large;
}

.turnphone{
    position: fixed;
    top: 0;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

button img{
    border-radius: 10px;
    box-shadow: 4px 4px 5px #aaaaaa;
}
 
  #panel{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
  }

  