body{
    overflow: scroll;
}


.holder{
    display: flex;
    position: relative;
    height: auto;
}


.list{
    overflow: hidden;
    height: auto;
}

.content-tab{
   visibility: hidden;
    position: absolute;
    background-color: white;
    height: auto;
}

.student-profile h1, .student-profile h2, .student-profile h3, .student-profile p{
    display: none;
}

.back-button{
    display: block;
    border-radius: 100px;
    background-color: blue;
    position: absolute;
}

.sidebar a{
    font-size: large;
}

.turnphone{
    position: fixed;
    top: 0;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

button img{
    border-radius: 10px;
    box-shadow: 4px 4px 5px #aaaaaa;
}
  /* (A) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
  @media only screen and (orientation:landscape) {
    #turn { display:flex; }

  }
   
  /* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
  @media only screen and (orientation:portrait) {
    #turn { display:none; }

  }