body{
    overflow: scroll;
}


.holder{
    display: flex;
    position: relative;
    height: auto;
}


.list{
    overflow: hidden;
    height: auto;
}

.tab-content{
   visibility: hidden;
    position: absolute;
    background-color: white;
    height: auto;
}

.student-profile h1, .student-profile h2, .student-profile h3, .student-profile p{
    display: none;
}

.back-button{
    display: block;
    border-radius: 100px;
    background-color: blue;
    position: absolute;


}