@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

.nave{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(59,46,124);
    z-index: 2 ;
    transition: 0.4s;

}

#logo{
   transition: 0.4s;
   width: 8vw;
}


/* Sidebar menu */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(59,46,124);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    margin-top: 30px;
    padding: 5px 8px 8px 32px;
    text-decoration: none;
    font-size: 1vw;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color:rgb(0, 123, 137);
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: -2%;
    right: 0%;
    font-size: 40px;
    margin-left: 50px;
    color: #fff;
  }
  
  .openbtn {
    font-size: 1.5vw;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(59,46,124);
    padding: 10px 15px;
    border: none;
    color: rgb(206, 0, 79);
  }

  .introduction{
    height: 100vh;
    width: 100vw;
    display: flex;
  }
  
  .openbtn:hover {
    background-color: rgb(27, 15, 85);
  }
  
/* Section Introduction*/
.introduction{
  padding: 40px 80px 40px 80px;
  display: flex;
  flex-direction: column;
}

marquee div img{
  width: 20%;
  margin: 20px 8px 20px 8px;
}
marquee div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

  /* Section display*/

.profile img, .content img, .poster img{
    width: 50%;
}

.profile a{
    object-fit: cover;
}

.display{
   
    position: relative;

}

.holder{
    display: flex;
    align-items: flex-start;
    height: fit-content;
    overflow: hidden;
    padding: 0px;
}

.profile, .cutouts{
 flex-direction: column;
}

.profile img, .content img, .poster img{
  width: 100%;
}

.profile a{
  object-fit: cover;
}

.list{
  height: 100vh;
  overflow-y: scroll;
}

.list::-webkit-scrollbar{
  display: none;
}

/* test ends*/

.tab-pane img{
  width: 100%;
}


::-webkit-scrollbar{
    width: 5px;
    color: white;
    scroll-behavior: smooth;
 }
::-webkit-scrollbar-thumb {
 
     background: black;
   }

   .poster div{
    display: flex;
}

.profile, .cutouts{
   flex-direction: column;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.links a {
    font-size: 1.5vw;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  .links a:hover {
    color: #fff;
    box-shadow: inset 500px 0 0 0 #54b3d6;;
  }

  .swipe-more{
    position: absolute;
    left: 20%;
    bottom: 50%;
    transform: rotate(90deg);
    z-index: 2;
    font-size: 1vw;
}

.student-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;


}

.student-profile h1{
    font-size: 3vw;
    font-weight: 600;
}

.student-profile h3{
    font-size: 2vw;

}

.ext-link{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }

  .ext-link a{
      display: flex;
      align-items: center !important;
      justify-content: center !important;
  }
  ext-link a[href = ""]{
    display: none;
  }

  .ext-link a img{
      width: 25%;
      filter: grayscale(100%);
  }

  /*TODO: on hover color isko*/
  .ext-link a p{
    align-self: center;
    height: 100%;
  }

.back-button{
  display: none;
}

.visual-content{
  justify-content: center;
}

