*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    height: 60px !important;
}

#logo{
    width: 20% !important;
}

.student-profile h1, .student-profile h2, .student-profile h3, .student-profile p{
    display: none;
}

.holder{
    height: fit-content;
    flex-direction: column;
    padding: 0px;
    justify-content: center;
    align-items: center;
}


.list{
    display: flex;
    height: 150px;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 10px;


}
::-webkit-scrollbar{
    width: 5px;
    color: white;
    scroll-behavior: smooth;
 }
::-webkit-scrollbar-thumb {
 
     background: black;
   }

.student-profile{
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.ext-link{
    max-width: 50vw;
    overflow: hidden;
    align-self: center;
}

.openbtn{
    font-size: 4vw;
}

/*TODO: The links were supposed to hide the text and just show the logo of social media, which is not happening*/
.hide-link{
    display: none;
}
.hide-link{
  display: none;
  color: wheat;
}

.ext-link a{
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-width: 1.5px;
}

.ext-link a img{
    width: 25%;
}

.swipe-more{
    transform: rotate(0deg);
    top: -2%;
    left: 30vw;
    font-size: 2.5vw;
    height: min-content;
}